<div class="sidebar-module sidebar-module-inset">
    <h4>A Propos</h4>
    <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
</div>

<div class="sidebar-module">
    <h4>Categories</h4>
    <ol class="list-unstyled">
        {% for entity in entities %}
            <li><a href="{{ path('categorie_show', {'name': entity.name}) }}">{{ entity.name }} <span class="badge">{{ entity.articles | length }}</span></a></li>
        {% endfor %}
    </ol>
</div>